<!--Admin.ejs-->
<!DOCTYPE html>
<html>


<body>
            <h1 class="title">
                Coupons
            </h1>
            <p class="subtitle">
                You deserve me!
            </p>
            <hr>
        </div>

    <table class="table is-bordered is narrow is-striped is-hoverable is-fullwidth">
        <caption style="font: size 28px;font-weight: bold;text-align:left;">Coupons List</caption>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Restaurant</th>
            <th>Expired Date</th>
            <th></th>
        </tr>
        
        <% Coupons.forEach( function(Coupon) { %>
        
        <tr>
            <td><%= Coupon.id %></td>
            <td><%= Coupon.Title %></td>
            <td><%= Coupon.Restaurant %></td>
            <td><%= Coupon.Expired_Date  %></td>
            <td><a href="update/<%= Coupon.id %>"> Update </a></td>
        </tr>
        
        <% }); %>
    </table>  
</html>