<h1 class="title">
    Coupons
</h1>
<p class="subtitle">
    You deserve me!
</p>
<hr>



<div class="columns">
    <div class="column is-half">
        <div>
            Redeemed Coupons:
        </div>
    </div>
    <div class="column is-half">
        <div>
            Current Balance: <% User.coins %>
        </div>
    </div>
</div>

<div class="columns">
    <% Coupons.forEach(function(Coupon) { %>
    <div class="column is-one-third">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <a href="../person/read/<%= Coupon.id %>">
                        <img src="<%= Coupon.Image %>" alt="Placeholder image">
                    </a>
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4"><%= Coupon.Restaurant %></p>
                    </div>
                </div>

                <div class="content">
                    <%= Coupon.Title %>
                    <br>
                    <div>Coins: <%= Coupon.Coins %></div>
                </div>
            </div>
        </div>      
    </div>
    <% }); %>
</div>