
        <div class="columns">

            <div class="column is-half">
                <div>
                    <img src=<%= Coupon.Image %>>
                </div>
            </div>

            <div class="column is-half">
                <ul>
                    <li><strong><%= Coupon.restaurant %></strong></li>
                    <li><strong><%= Coupon.title %></strong></li>
                    <li><strong>Coins: </strong><%= Coupon.Coins %></li>
                    <li><strong>Address: </strong><%= Coupon.Region %>, <%= Coupon.Mall %></li>
                    <li><strong>Expired_Date: </strong><%= Coupon.Expired_Date %></li>
                    <li><%= Coupon.Detail %></li>
                </ul>
            </div>

        </div>



