<section class="section">
    <div class="container">
        <div class="columns">

            <div class="column">
                <div>
                    <img src=<%= person.Image %>>
                </div>
            </div>

            <div class="column">
               <div> <%= person.Title %></div>
               <div><%= person.Restaurant %></div>
               <div><%= person.Region %></div>
               <div><%= person.Mall %></div>
               <div><%= person.Image %></div>
               <div><%= person.Quota %></div>
               <div><%= person.Coins %></div>
               <div><%= person.Experied_Date %></div>
               <div><%= person.Quota %></div>
               <div><%= person.Coins %></div>
               <div><%= person.Experied_Date %></div>
               <div><%= person.Detail %></div>
            </div>

        </div>
    </div>
</section>


<form action="/person/delete/<%= person.id %>" method="POST">

    <button type="submit">Delete</button>
</form>