<div class="columns">

    <div class="column is-half">
        <div>
            <img src=<%= Coupon.Image %>>
        </div>
    </div>

    <div class="column is-half">
        <ul>
            <li><strong><%= Coupon.Restaurant %></strong></li>
            <li><strong><%= Coupon.Title %></strong></li>
            <li><strong>Coins: </strong><%= Coupon.Coins %></li>
            <li><strong>Address: </strong><%= Coupon.Region %>, <%= Coupon.Mall %></li>
            <li><strong>Expired_Date: </strong><%= Coupon.Expired_Date %></li>
            <li><%= Coupon.Details %></li>
        </ul>
        <% if(Length==0 & Role =="member"){%>
        <button type="button" id="Redeem" style="background-color:green;" onclick="redeem('<%= User.id %>','<%= Coupon.id %>')">Redeem</button>
        <% } %>
    </div>

</div>



<script>
    async function redeem(id, fk) {

        var r = confirm("Confirm Redeem?");

        if (r) {
            var response = await fetch("/user/" + id + "/coupons/add/" + fk, {
                method: "POST"});

            if (response.ok) {
                alert("Coupon Redeemed.");
                var Redeem = document.getElementById("Redeem");
                Redeem.style.display = "none";
                location.assign("/");
            } else if(response.status == 404) {
                    var msg = await response.json();
                    alert(msg);
            } else{
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };

    
</script>