<!--update.ejs-->

<form action="/person/update/<%= Coupon.id %>" method="post">
            
    <div class="columns">   
        <div class="column is-half">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" name="Title" type="text" value="<%= Coupon.Title %>" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Restaurant</label>
                <div class="control">
                    <input class="input" name="Restaurant" value="<%= Coupon.Restaurant %>" type="text" required>


                </div>
            </div>


            <div class="field">
                <dic class="container">
                    <div class="columns">
                        <div class="column">
                            <label class="label">Region</label>
                            <div class="control">
                                <div class="select">
                                    <select name="Region" value="<%= Coupon.Region %>" required>
                                        <option value="HK Island">HK Island</option>
                                        <option value="Kowloon">Kowloon</option>
                                        <option value="New Territories">New Territories</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <label class="label">Mall</label>
                            <div class="control">
                                <div class="select">
                                    <select name="Mall" value="<%= Coupon.Mall %>" required>
                                        <option value="IFC Mall">IFC Mall</option>
                                        <option value="Pacific Place">Pacific Place</option>
                                        <option value="Times Square">Times Square</option>
                                        <option value="Elements">Elements</option>
                                        <option value="Harbour City">Harbour City</option>
                                        <option value="Festival Walk">Festival Walk</option>
                                        <option value="MegaBox">MegaBox</option>
                                        <option value="APM">APM</option>
                                        <option value="New Town Plaza">New Town Plaza</option>
                                        <option value="Tsuen Wan Plaza">Tsuen Wan Plaza</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </dic>
            </div>

            <div class="field">
                <label class="label">Image</label>
                <div class="control">
                    <input name="Image" class="input" placeholder="link" value="<%= Coupon.Image %>" required></input>
                </div>
            </div>
            
        </div>


        
        <div class="column is-half">
            <div class=field>
                <div class="container">
                    <div class="columns">
                        
                        <div class="column">
                            <label class="label">Quota</label>
                            <div class="control">
                                <input name="Quota" class="input" type="number" value="<%= Coupon.Quota %>" required>
                            </div>
                        </div>

                        <div class="column">
                            <label class="label">Coins</label>
                            <div class="control">
                                <input name="Coins" class="input" type="number" value="<%= Coupon.Coins %>" required>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Expired Date</label>
                <div class="control">
                    <input name="Experied_Date" class="input" type="date" value="<%= Coupon.Expired_Date %>" required>
                </div>
            </div>


            <div class="field">
                <label class="label">Detail</label>
                <div class="control">
                    <textarea name="Detail" class="textarea" placeholder="<%= Coupon.Detail %>" rows="4"></textarea>
                </div>
            </div>


            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button type="reset" class="button is-link is-light">
                            Cancel
                    </button>
                </div>
            </div>



         </div>

    </div>


</form>

<!-- <form>

    <div class="field">
        <div class="control"> -->
            <button class="button is-link" type="button" onclick="deleteCoupon('<%= Coupon.id %>')" style="background-color:red;">Delete</button>
        <!-- </div>
    </div>

</form> -->


<script>

async function deleteCoupon(id) {
        var r = confirm("Confirm Delete?");
        
        if (r) {
            var response = await fetch("/person/" + id, {
                method: "DELETE"
            });

            if (response.ok) {
                alert("Coupon deleted.");
                location.assign("/");
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };

</script>


</form>